In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [11]:
#### green taxi: feature selection

os.chdir("/Users/whiplash/SJSU/Semester 2/Github/Predicting-High-Taxi-Demand-Regions/Data")
# green_raw = []
green_raw = pd.read_csv("green_tripdata_2014-07.csv")

In [12]:
green_raw.columns=[c.replace(" ", "") for c in green_raw.columns]  
green_raw['lpep_pickup_datetime']=green_raw['VendorID'] # the first 3 columns are mislabeled
green_raw.index=np.arange(green_raw.shape[0])  # index is wrong
green=green_raw[['lpep_pickup_datetime', 'Pickup_longitude', 'Pickup_latitude']]
green.columns=['Date', 'Lon', 'Lat']

In [13]:
green[0:5]

                  Date        Lon        Lat
0  2014-07-01 22:33:05 -73.952805  40.799091
1  2014-07-01 22:12:19 -73.925301  40.806042
2  2014-07-01 10:33:40 -73.931709  40.797146
3  2014-07-01 08:54:25 -73.915695  40.772076
4  2014-07-01 08:42:46 -73.910339  40.744736

In [14]:
green["Lat"] = green["Lat"].astype(str)
green["Lon"] = green["Lon"].astype(str)
green["Coord"] = green[["Lat", "Lon"]].apply(lambda x: ",".join(x), axis=1)

/Users/whiplash/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/whiplash/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/whiplash/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
green[0:5]

,Date,Lon,Lat,Coord
0,2014-07-01 22:33:05,-73.95280456542969,40.79909133911133,"40.79909133911133,-73.95280456542969"
1,2014-07-01 22:12:19,-73.92530059814453,40.8060417175293,"40.8060417175293,-73.92530059814453"
2,2014-07-01 10:33:40,-73.93170928955078,40.79714584350585,"40.79714584350585,-73.93170928955078"
3,2014-07-01 08:54:25,-73.91569519042969,40.77207565307617,"40.77207565307617,-73.91569519042969"
4,2014-07-01 08:42:46,-73.91033935546875,40.74473571777344,"40.74473571777344,-73.91033935546875"

In [16]:
from uszipcode import ZipcodeSearchEngine
search = ZipcodeSearchEngine()
zipcode = {}
output=[]
# green["Zipcode"] = "NaN"
# for n in range(len(green)):
#     res = search.by_coordinate(float(green["Lat"][n]), float(green["Lon"][n]), radius=30, returns=1)
#     if len(res)>0:
#         green["Zipcode"][n] = str(res[0]["Zipcode"])


for n in range(len(green)):
    res = search.by_coordinate(float(green["Lat"][n]), float(green["Lon"][n]), radius=5, returns=1)
    if len(res)>0:
        output.append(str(res[0]["Zipcode"]))        
    else:
        output.append("NaN")

In [17]:
print(len(output))

1273973

In [18]:
green["Zipcode"] = output

/Users/whiplash/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
green[0:5]

,Date,Lon,Lat,Coord,Zipcode
0,2014-07-01 22:33:05,-73.95280456542969,40.79909133911133,"40.79909133911133,-73.95280456542969",10026
1,2014-07-01 22:12:19,-73.92530059814453,40.8060417175293,"40.8060417175293,-73.92530059814453",10454
2,2014-07-01 10:33:40,-73.93170928955078,40.79714584350585,"40.79714584350585,-73.93170928955078",10035
3,2014-07-01 08:54:25,-73.91569519042969,40.77207565307617,"40.77207565307617,-73.91569519042969",11103
4,2014-07-01 08:42:46,-73.91033935546875,40.74473571777344,"40.74473571777344,-73.91033935546875",11377

In [20]:
nanlist = []
for n in range(len(green)):
    if green["Zipcode"][n] == "NaN":
        nanlist.append(n)

In [21]:
len(nanlist)

1795

In [22]:
len(green)

1273973

In [23]:
green1 = green.drop(green.index[nanlist])

In [65]:
# zipcode = pd.read_csv("/Users/whiplash/SJSU/Semester 2/Github/Predicting-High-Taxi-Demand-Regions/Data/Zip_CodeNYC.csv")

In [71]:
# print(type(green["Zipcode"]))

<class 'pandas.core.series.Series'>

In [72]:
# print(type(zipcode["JURISDICTION NAME"]))

<class 'pandas.core.series.Series'>

In [24]:
date=pd.to_datetime(green1['Date'])
green1['Month']=date.dt.month
green1['Day']=date.dt.day
green1['Hour']=date.dt.hour
temp=pd.DatetimeIndex(date)
green1['Weekday']=temp.weekday
# data_model=data_final[['Month', 'Weekday', 'Hour']]

In [25]:
green1

,Date,Lon,Lat,Coord,Zipcode,Month,Day,Hour,Weekday
0,2014-07-01 22:33:05,-73.95280456542969,40.79909133911133,"40.79909133911133,-73.95280456542969",10026,7,1,22,1
1,2014-07-01 22:12:19,-73.92530059814453,40.8060417175293,"40.8060417175293,-73.92530059814453",10454,7,1,22,1
2,2014-07-01 10:33:40,-73.93170928955078,40.79714584350585,"40.79714584350585,-73.93170928955078",10035,7,1,10,1
3,2014-07-01 08:54:25,-73.91569519042969,40.77207565307617,"40.77207565307617,-73.91569519042969",11103,7,1,8,1
4,2014-07-01 08:42:46,-73.91033935546875,40.74473571777344,"40.74473571777344,-73.91033935546875",11377,7,1,8,1
5,2014-07-01 15:05:02,-73.9735336303711,40.76479721069336,"40.76479721069336,-73.9735336303711",10022,7,1,15,1
6,2014-07-01 14:50:30,-73.93948364257811,40.82086563110352,"40.82086563110352,-73.93948364257811",10030,7,1,14,1
7,2014-07-01 09:46:47,-73.9256134033203,40.82827377319336,"40.82827377319336,-73.9256134033203",10039,7,1,9,1
8,2014-07-01 14:11:02,-73.96800231933594,40.76219940185547,"40.76219940185547,-73.96800231933594",10022,7,1,14,1
9,2014-07-01 19:16:57,-73.73844909667969,40.66784286499024,"40.66784286499024,-73.73844909667969",11422,7,1,19,1
10,2014-07-01 13:37:41,-73.93096160888672,40.80258560180664,"40.80258560180664,-73.93096160888672",10035,7,1,13,1
12,2014-07-01 16:12:22,-73.91009521484375,40.77565383911133,"40.77565383911133,-73.91009521484375",11105,7,1,16,1
14,2014-07-01 17:10:49,-73.98213958740234,40.74096298217773,"40.74096298217773,-73.98213958740234",10010,7,1,17,1
15,2014-07-01 19:48:26,-73.78282928466798,40.648834228515625,"40.648834228515625,-73.78282928466798",11430,7,1,19,1
17,2014-07-01 01:10:43,-73.95487213134766,40.80437088012695,"40.80437088012695,-73.95487213134766",10026,7,1,1,1
18,2014-07-01 16:18:02,-73.94474792480467,40.68095779418945,"40.68095779418945,-73.94474792480467",11216,7,1,16,1
19,2014-07-01 21:26:38,-73.95236206054686,40.65261840820313,"40.65261840820313,-73.95236206054686",11226,7,1,21,1
20,2014-07-01 20:06:53,-74.00410461425781,40.682228088378906,"40.682228088378906,-74.00410461425781",11231,7,1,20,1
21,2014-07-01 18:04:51,-74.02549743652342,40.61938095092773,"40.61938095092773,-74.02549743652342",11209,7,1,18,1
23,2014-07-01 18:17:25,-73.93742370605469,40.758125305175774,"40.758125305175774,-73.93742370605469",11106,7,1,18,1
24,2014-07-01 21:53:45,-73.72823333740234,40.65709686279297,"40.65709686279297,-73.72823333740234",11422,7,1,21,1
25,2014-07-01 12:20:52,-73.88519287109375,40.755184173583984,"40.755184173583984,-73.88519287109375",11372,7,1,12,1
26,2014-07-01 21:00:49,-73.92533874511719,40.77310562133789,"40.77310562133789,-73.92533874511719",11102,7,1,21,1
27,2014-07-01 23:53:08,-73.95386505126955,40.66445541381836,"40.66445541381836,-73.95386505126955",11225,7,1,23,1
28,2014-07-01 20:26:23,-73.97638702392578,40.7906608581543,"40.7906608581543,-73.97638702392578",10024,7,1,20,1
29,2014-07-01 13:07:07,-73.97820281982422,40.77309036254883,"40.77309036254883,-73.97820281982422",10023,7,1,13,1
30,2014-07-01 00:15:06,-73.89070129394531,40.738929748535156,"40.738929748535156,-73.89070129394531",11373,7,1,0,1
31,2014-07-01 00:10:06,-73.98594665527344,40.72704315185547,"40.72704315185547,-73.98594665527344",10009,7,1,0,1
32,2014-07-01 00:11:58,-73.88590240478516,40.74580383300781,"40.74580383300781,-73.88590240478516",11372,7,1,0,1
33,2014-07-01 00:05:48,-73.9902801513672,40.68819046020508,"40.68819046020508,-73.9902801513672",11201,7,1,0,1
...,...,...,...,...,...,...,...,...,...
1273943,2014-08-01 00:13:05,-73.95752716064453,40.69195938110352,"40.69195938110352,-73.95752716064453",11205,8,1,0,4
1273944,2014-08-01 00:09:45,-73.93526458740234,40.82005310058594,"40.82005310058594,-73.93526458740234",10037,8,1,0,4
1273945,2014-08-01 00:25:36,-73.98906707763672,40.73149490356445,"40.73149490356445,-73.98906707763672",10003,8,1,0,4
1273946,2014-08-01 00:16:44,-74.01870727539062,40.64066696166992,"40.64066696166992,-74.01870727539062",11220,8,1,0,4
1273947,2014-08-01 00:06:26,-73.95133209228516,40.82540512084961,"40.82540512084961,-73.95133209228516",10031,8,1,0,4
1273948,2014-08-01 00:04:13,-73.90763092041014,40.75756454467773,"40.75756454467773,-73.90763092041014",11103,8,1,0,4
1273949,2014-08-01 00:16:16,-73.97280883789062,40.754844665527344,"40.754844665527344,-73.97280883789062",10167,8,1,0,4
1273950,2014-08-01 00:14:26,-73.93791961669923,40.75370407104492,"40.75370407104492,-73.93791961669923",11101,8,1,0,4
1273951,2014-08-01 00:11:04,-73.98938751220702,40.71907424926758,"40.71907424926758,-73.98938751220702",10002,8,1,0,4
1273952,2014-08-01 00:00:29,-73.941650390625,40.7987060546875,"40.7987060546875,-73.941650390625",10029,8,1,0,4
1273953,2014-08-01 00:03:26,-73.9074935913086,40.73703384399415,"40.73703384399415,-73.9074935913086",11377,8,1,0,4
1273954,2014-08-01 00:21:17,-73.98140716552734,40.67192077636719,"40.67192077636719,-73.98140716552734",11215,8,1,0,4
1273955,2014-08-01 00:08:09,-73.89724731445312,40.74626922607422,"40.74626922607422,-73.89724731445312",11377,8,1,0,4
1273956,2014-08-01 00:05:44,-73.86343383789062,40.7479362487793,"40.7479362487793,-73.86343383789062",11368,8,1,0,4
1273957,2014-08-01 00:08:45,-73.87247467041014,40.724910736083984,"40.724910736083984,-73.87247467041014",11374,8,1,0,4
1273958,2014-08-01 00:42:06,-73.92085266113281,40.76313018798828,"40.76313018798828,-73.92085266113281",11106,8,1,0,4
1273959,2014-08-01 00:19:07,-73.97834014892578,40.76653671264648,"40.76653671264648,-73.97834014892578",10020,8,1,0,4
1273960,2014-08-01 00:17:30,-73.98286437988281,40.66929626464844,"40.66929626464844,-73.98286437988281",11215,8,1,0,4
1273961,2014-08-01 00:06:14,-73.9429702758789,40.82827758789063,"40.82827758789063,-73.9429702758789",10039,8,1,0,4
1273962,2014-08-01 00:04:54,-73.94489288330078,40.83430099487305,"40.83430099487305,-73.94489288330078",10032,8,1,0,4
1273963,2014-08-01 00:12:36,-73.87474822998048,40.748699188232415,"40.748699188232415,-73.87474822998048",11372,8,1,0,4
1273964,2014-08-01 00:21:36,-73.98462677001955,40.748680114746094,"40.748680114746094,-73.98462677001955",10016,8,1,0,4
1273965,2014-08-01 00:11:51,-73.96304321289062,40.79405212402344,"40.79405212402344,-73.96304321289062",10025,8,1,0,4
1273966,2014-08-01 00:19:00,-73.92054748535155,40.6320915222168,"40.6320915222168,-73.92054748535155",11210,8,1,0,4
1273967,2014-08-01 00:10:30,-73.81885528564453,40.79551315307617,"40.79551315307617,-73.81885528564453",11357,8,1,0,4
1273968,2014-08-01 00:05:44,-73.91085815429686,40.781734466552734,"40.781734466552734,-73.91085815429686",11105,8,1,0,4
1273969,2014-08-01 00:13:24,-73.95269775390625,40.77218627929688,"40.77218627929688,-73.95269775390625",10075,8,1,0,4
1273970,2014-08-01 00:16:42,-73.9869155883789,40.72115707397461,"40.72115707397461,-73.9869155883789",10002,8,1,0,4
1273971,2014-08-01 00:05:12,-73.87593078613281,40.766197204589844,"40.766197204589844,-73.87593078613281",11369,8,1,0,4
1273972,2014-08-01 00:12:03,-73.78874969482422,40.69342422485352,"40.69342422485352,-73.78874969482422",11433,8,1,0,4

In [26]:
# group=green1.groupby(['Month', 'Day', 'Hour', 'Zipcode']).size().reset_index(name='count')

In [27]:
# group

In [28]:
green1.to_csv('nycmodeldatajuly.csv',encoding='utf-8')