In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [11]:
#### green taxi: feature selection

os.chdir("/Users/whiplash/SJSU/Semester 2/Github/Predicting-High-Taxi-Demand-Regions/Data")
# green_raw = []
green_raw = pd.read_csv("green_tripdata_2014-09.csv")

In [12]:
green_raw.columns=[c.replace(" ", "") for c in green_raw.columns]  
green_raw['lpep_pickup_datetime']=green_raw['VendorID'] # the first 3 columns are mislabeled
green_raw.index=np.arange(green_raw.shape[0])  # index is wrong
green=green_raw[['lpep_pickup_datetime', 'Pickup_longitude', 'Pickup_latitude']]
green.columns=['Date', 'Lon', 'Lat']

In [13]:
green[0:5]

                  Date        Lon        Lat
0  2014-07-01 22:33:05 -73.952805  40.799091
1  2014-07-01 22:12:19 -73.925301  40.806042
2  2014-07-01 10:33:40 -73.931709  40.797146
3  2014-07-01 08:54:25 -73.915695  40.772076
4  2014-07-01 08:42:46 -73.910339  40.744736

In [14]:
green["Lat"] = green["Lat"].astype(str)
green["Lon"] = green["Lon"].astype(str)
green["Coord"] = green[["Lat", "Lon"]].apply(lambda x: ",".join(x), axis=1)

/Users/whiplash/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/whiplash/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/whiplash/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [15]:
green[0:5]

,Date,Lon,Lat,Coord
0,2014-07-01 22:33:05,-73.95280456542969,40.79909133911133,"40.79909133911133,-73.95280456542969"
1,2014-07-01 22:12:19,-73.92530059814453,40.8060417175293,"40.8060417175293,-73.92530059814453"
2,2014-07-01 10:33:40,-73.93170928955078,40.79714584350585,"40.79714584350585,-73.93170928955078"
3,2014-07-01 08:54:25,-73.91569519042969,40.77207565307617,"40.77207565307617,-73.91569519042969"
4,2014-07-01 08:42:46,-73.91033935546875,40.74473571777344,"40.74473571777344,-73.91033935546875"

In [16]:
from uszipcode import ZipcodeSearchEngine
search = ZipcodeSearchEngine()
zipcode = {}
output=[]
# green["Zipcode"] = "NaN"
# for n in range(len(green)):
#     res = search.by_coordinate(float(green["Lat"][n]), float(green["Lon"][n]), radius=30, returns=1)
#     if len(res)>0:
#         green["Zipcode"][n] = str(res[0]["Zipcode"])


for n in range(len(green)):
    res = search.by_coordinate(float(green["Lat"][n]), float(green["Lon"][n]), radius=5, returns=1)
    if len(res)>0:
        output.append(str(res[0]["Zipcode"]))        
    else:
        output.append("NaN")

In [17]:
print(len(output))

1273973

In [18]:
green["Zipcode"] = output

/Users/whiplash/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
green[0:5]

,Date,Lon,Lat,Coord,Zipcode
0,2014-07-01 22:33:05,-73.95280456542969,40.79909133911133,"40.79909133911133,-73.95280456542969",10026
1,2014-07-01 22:12:19,-73.92530059814453,40.8060417175293,"40.8060417175293,-73.92530059814453",10454
2,2014-07-01 10:33:40,-73.93170928955078,40.79714584350585,"40.79714584350585,-73.93170928955078",10035
3,2014-07-01 08:54:25,-73.91569519042969,40.77207565307617,"40.77207565307617,-73.91569519042969",11103
4,2014-07-01 08:42:46,-73.91033935546875,40.74473571777344,"40.74473571777344,-73.91033935546875",11377

In [20]:
nanlist = []
for n in range(len(green)):
    if green["Zipcode"][n] == "NaN":
        nanlist.append(n)

In [21]:
len(nanlist)

1795

In [22]:
len(green)

1273973

In [23]:
green1 = green.drop(green.index[nanlist])

In [65]:
# zipcode = pd.read_csv("/Users/whiplash/SJSU/Semester 2/Github/Predicting-High-Taxi-Demand-Regions/Data/Zip_CodeNYC.csv")

In [71]:
# print(type(green["Zipcode"]))

<class 'pandas.core.series.Series'>

In [72]:
# print(type(zipcode["JURISDICTION NAME"]))

<class 'pandas.core.series.Series'>

In [15]:
date=pd.to_datetime(green1['Date'])
green1['Month']=date.dt.month
green1['Day']=date.dt.day
green1['Hour']=date.dt.hour
temp=pd.DatetimeIndex(date)
green1['Weekday']=temp.weekday
# data_model=data_final[['Month', 'Weekday', 'Hour']]

In [16]:
green1

,Date,Lon,Lat,Coord,Zipcode,Month,Day,Hour,Weekday
0,2014-03-01 19:18:34,-73.87202453613281,40.67871475219727,"40.67871475219727,-73.87202453613281",11208,3,1,19,5
1,2014-03-01 13:10:37,-73.91783905029298,40.75776672363281,"40.75776672363281,-73.91783905029298",11106,3,1,13,5
2,2014-03-01 14:36:16,-73.88289642333984,40.87045669555664,"40.87045669555664,-73.88289642333984",10458,3,1,14,5
7,2014-03-01 08:05:26,-73.86398315429686,40.895206451416016,"40.895206451416016,-73.86398315429686",10470,3,1,8,5
9,2014-03-01 10:45:08,-73.98382568359375,40.67216491699219,"40.67216491699219,-73.98382568359375",11215,3,1,10,5
10,2014-03-01 19:23:12,-73.8975067138672,40.85656356811523,"40.85656356811523,-73.8975067138672",10458,3,1,19,5
11,2014-03-01 20:30:34,-73.83473205566406,40.769981384277344,"40.769981384277344,-73.83473205566406",11351,3,1,20,5
12,2014-03-01 02:11:02,-73.96269226074219,40.80527877807617,"40.80527877807617,-73.96269226074219",10115,3,1,2,5
13,2014-03-01 01:12:02,-73.81257629394531,40.72515869140625,"40.72515869140625,-73.81257629394531",11367,3,1,1,5
14,2014-03-01 00:11:44,-73.7594223022461,40.7049674987793,"40.7049674987793,-73.7594223022461",11412,3,1,0,5
15,2014-03-01 09:35:57,-74.00832366943358,40.733074188232415,"40.733074188232415,-74.00832366943358",10014,3,1,9,5
16,2014-03-01 20:03:23,-73.9344711303711,40.75353240966797,"40.75353240966797,-73.9344711303711",11106,3,1,20,5
17,2014-03-01 09:25:16,-73.96477508544923,40.71321868896485,"40.71321868896485,-73.96477508544923",11211,3,1,9,5
19,2014-03-01 14:30:15,-73.79309844970702,40.6992073059082,"40.6992073059082,-73.79309844970702",11433,3,1,14,5
20,2014-03-01 08:15:29,-73.99456024169923,40.738136291503906,"40.738136291503906,-73.99456024169923",10003,3,1,8,5
21,2014-03-01 19:50:35,-73.85631561279298,40.85512161254883,"40.85512161254883,-73.85631561279298",10469,3,1,19,5
23,2014-03-01 07:49:00,-73.9754638671875,40.750938415527344,"40.750938415527344,-73.9754638671875",10174,3,1,7,5
25,2014-03-01 11:26:06,-73.93744659423827,40.758167266845696,"40.758167266845696,-73.93744659423827",11106,3,1,11,5
26,2014-03-01 19:53:49,-73.99596405029298,40.69075012207031,"40.69075012207031,-73.99596405029298",11201,3,1,19,5
28,2014-03-01 21:11:09,-73.96179962158203,40.71344757080078,"40.71344757080078,-73.96179962158203",11211,3,1,21,5
29,2014-03-01 09:18:54,-73.83917999267578,40.8271484375,"40.8271484375,-73.83917999267578",10465,3,1,9,5
31,2014-03-01 21:11:52,-73.88394165039062,40.74192810058594,"40.74192810058594,-73.88394165039062",11373,3,1,21,5
32,2014-03-01 20:12:17,-73.86064147949219,40.756160736083984,"40.756160736083984,-73.86064147949219",11368,3,1,20,5
33,2014-03-01 00:04:27,-73.93758392333984,40.80434799194336,"40.80434799194336,-73.93758392333984",10037,3,1,0,5
34,2014-03-01 00:39:11,-73.90825653076173,40.69879150390625,"40.69879150390625,-73.90825653076173",11385,3,1,0,5
35,2014-03-01 00:14:32,-73.956787109375,40.713565826416016,"40.713565826416016,-73.956787109375",11211,3,1,0,5
36,2014-03-01 00:08:42,-73.93524169921875,40.79600524902344,"40.79600524902344,-73.93524169921875",10035,3,1,0,5
37,2014-03-01 00:08:34,-73.9547348022461,40.73288345336913,"40.73288345336913,-73.9547348022461",11222,3,1,0,5
38,2014-03-01 00:05:14,-73.8830337524414,40.75574493408203,"40.75574493408203,-73.8830337524414",11372,3,1,0,5
39,2014-03-01 00:05:50,-73.8905258178711,40.76810073852539,"40.76810073852539,-73.8905258178711",11370,3,1,0,5
...,...,...,...,...,...,...,...,...,...
1293441,2014-04-01 00:03:31,-73.95318603515625,40.78880310058594,"40.78880310058594,-73.95318603515625",10128,4,1,0,1
1293442,2014-04-01 00:06:41,-73.9197998046875,40.73789596557617,"40.73789596557617,-73.9197998046875",11104,4,1,0,1
1293443,2014-04-01 00:05:14,-73.9351577758789,40.79597473144531,"40.79597473144531,-73.9351577758789",10035,4,1,0,1
1293444,2014-04-01 00:08:06,-73.92054748535155,40.76658630371094,"40.76658630371094,-73.92054748535155",11103,4,1,0,1
1293445,2014-04-01 00:07:24,-73.996826171875,40.71652603149415,"40.71652603149415,-73.996826171875",10278,4,1,0,1
1293446,2014-04-01 00:05:13,-73.867919921875,40.744606018066406,"40.744606018066406,-73.867919921875",11373,4,1,0,1
1293447,2014-04-01 00:08:00,-73.95252990722656,40.68902587890625,"40.68902587890625,-73.95252990722656",11205,4,1,0,1
1293448,2014-04-01 00:09:46,-73.98297119140625,40.72674560546875,"40.72674560546875,-73.98297119140625",10009,4,1,0,1
1293449,2014-04-01 00:09:01,-73.95700073242188,40.805137634277344,"40.805137634277344,-73.95700073242188",10026,4,1,0,1
1293450,2014-04-01 00:03:12,-73.9414520263672,40.8521728515625,"40.8521728515625,-73.9414520263672",10033,4,1,0,1
1293451,2014-04-01 00:18:45,-73.96533203125,40.695960998535156,"40.695960998535156,-73.96533203125",11205,4,1,0,1
1293452,2014-04-01 00:31:24,-73.93367767333984,40.802898406982415,"40.802898406982415,-73.93367767333984",10035,4,1,0,1
1293453,2014-04-01 00:04:10,-73.9424819946289,40.84469985961913,"40.84469985961913,-73.9424819946289",10032,4,1,0,1
1293454,2014-04-01 00:06:25,-73.9449462890625,40.79176712036133,"40.79176712036133,-73.9449462890625",10029,4,1,0,1
1293455,2014-04-01 00:12:33,-73.8567886352539,40.8289794921875,"40.8289794921875,-73.8567886352539",10472,4,1,0,1
1293456,2014-04-01 00:11:13,-73.99664306640625,40.69789123535156,"40.69789123535156,-73.99664306640625",11201,4,1,0,1
1293457,2014-04-01 00:00:43,-73.94132995605469,40.83752822875977,"40.83752822875977,-73.94132995605469",10032,4,1,0,1
1293458,2014-04-01 00:05:18,-73.92596435546875,40.6924057006836,"40.6924057006836,-73.92596435546875",11221,4,1,0,1
1293459,2014-04-01 00:07:30,-73.9554443359375,40.69472885131836,"40.69472885131836,-73.9554443359375",11205,4,1,0,1
1293460,2014-04-01 00:04:02,-73.93569946289062,40.79617309570313,"40.79617309570313,-73.93569946289062",10035,4,1,0,1
1293461,2014-04-01 00:02:33,-73.91093444824219,40.844947814941406,"40.844947814941406,-73.91093444824219",10453,4,1,0,1
1293462,2014-04-01 00:10:17,-73.99040985107422,40.71943664550781,"40.71943664550781,-73.99040985107422",10002,4,1,0,1
1293463,2014-04-01 00:07:44,-73.95304107666014,40.78682327270508,"40.78682327270508,-73.95304107666014",10128,4,1,0,1
1293464,2014-04-01 00:01:00,-73.94337463378906,40.8282356262207,"40.8282356262207,-73.94337463378906",10039,4,1,0,1
1293465,2014-04-01 00:05:06,-73.92985534667969,40.85498809814453,"40.85498809814453,-73.92985534667969",10040,4,1,0,1
1293466,2014-04-01 00:12:06,-73.9916458129883,40.72986602783203,"40.72986602783203,-73.9916458129883",10003,4,1,0,1
1293467,2014-04-01 00:02:53,-73.96243286132812,40.71000671386719,"40.71000671386719,-73.96243286132812",11211,4,1,0,1
1293468,2014-04-01 00:04:01,-73.8874740600586,40.739723205566406,"40.739723205566406,-73.8874740600586",11373,4,1,0,1
1293469,2014-04-01 00:05:28,-73.86199188232422,40.71734237670898,"40.71734237670898,-73.86199188232422",11374,4,1,0,1
1293470,2014-04-01 00:05:37,-73.94294738769531,40.79009246826172,"40.79009246826172,-73.94294738769531",10029,4,1,0,1

In [17]:
# group=green1.groupby(['Month', 'Day', 'Hour', 'Zipcode']).size().reset_index(name='count')

In [18]:
# group

In [19]:
green1.to_csv('nycmodeldatasep.csv',encoding='utf-8')