In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [5]:
#### green taxi: feature selection

#os.chdir("/Users/whiplash/SJSU/Semester 2/Github/Predicting-High-Taxi-Demand-Regions/Data")
# green_raw = []
green_taxi_raw = pd.read_csv("green_tripdata_2014-04.csv")

In [8]:
green_taxi_raw.columns=[c.replace(" ", "") for c in green_taxi_raw.columns]  
green_taxi_raw['lpep_pickup_datetime']=green_taxi_raw['VendorID'] # the first 3 columns are mislabeled
green_taxi_raw.index=np.arange(green_taxi_raw.shape[0])  # index is wrong
green_taxi_data=green_taxi_raw[['lpep_pickup_datetime', 'Pickup_longitude', 'Pickup_latitude']]
green_taxi_data.columns=['Date', 'Lon', 'Lat']

In [9]:
green_taxi_data[0:5]

                  Date        Lon        Lat
0  2014-01-01 01:08:06 -73.865044  40.872307
1  2014-01-01 06:03:57 -73.776367  40.645489
2  2014-01-01 18:22:44 -73.932648  40.852573
3  2014-01-01 00:52:03 -73.994080  40.749092
4  2014-01-01 00:49:25 -73.936066  40.734726

In [10]:
green_taxi_data["Lat"] = green_taxi_data["Lat"].astype(str)
green_taxi_data["Lon"] = green_taxi_data["Lon"].astype(str)
green_taxi_data["Coord"] = green_taxi_data[["Lat", "Lon"]].apply(lambda x: ",".join(x), axis=1)

/Users/sneha/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/sneha/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/sneha/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [35]:
green_taxi_data[0:5]

,Date,Lon,Lat,Coord
0,2014-01-01 01:08:06,-73.86504364013672,40.87230682373047,"40.87230682373047,-73.86504364013672"
1,2014-01-01 06:03:57,-73.7763671875,40.64548873901367,"40.64548873901367,-73.7763671875"
2,2014-01-01 18:22:44,-73.93264770507811,40.85257339477539,"40.85257339477539,-73.93264770507811"
3,2014-01-01 00:52:03,-73.99407958984375,40.74909210205078,"40.74909210205078,-73.99407958984375"
4,2014-01-01 00:49:25,-73.93606567382812,40.73472595214844,"40.73472595214844,-73.93606567382812"
5,2014-01-01 00:01:15,-73.9121551513672,40.684059143066406,"40.684059143066406,-73.9121551513672"
6,2014-01-01 02:37:20,-73.93531799316406,40.73701095581055,"40.73701095581055,-73.93531799316406"
7,2014-01-01 15:24:02,-73.93746948242188,40.804195404052734,"40.804195404052734,-73.93746948242188"
8,2014-01-01 06:11:44,0.0,0.0,"0.0,0.0"
9,2014-01-01 01:17:43,-73.91567993164062,40.77630615234375,"40.77630615234375,-73.91567993164062"
10,2014-01-01 19:07:40,-73.94893646240234,40.66542053222656,"40.66542053222656,-73.94893646240234"
11,2014-01-01 05:08:05,-74.01026916503906,40.64192199707031,"40.64192199707031,-74.01026916503906"
12,2014-01-01 13:04:11,-73.99115753173827,40.639381408691406,"40.639381408691406,-73.99115753173827"
13,2014-01-01 00:08:28,-73.8885498046875,40.745452880859375,"40.745452880859375,-73.8885498046875"
14,2014-01-01 00:10:30,-73.7994155883789,40.73357772827149,"40.73357772827149,-73.7994155883789"
15,2014-01-01 00:07:26,-73.81632995605469,40.71437454223633,"40.71437454223633,-73.81632995605469"
16,2014-01-01 00:18:35,-73.94696044921875,40.751373291015625,"40.751373291015625,-73.94696044921875"
17,2014-01-01 00:04:05,-73.94689178466798,40.81333541870117,"40.81333541870117,-73.94689178466798"
18,2014-01-01 00:08:32,-73.93402099609375,40.73625564575195,"40.73625564575195,-73.93402099609375"
19,2014-01-01 00:11:36,-73.96392822265625,40.76107025146485,"40.76107025146485,-73.96392822265625"
20,2014-01-01 00:06:03,-73.88463592529298,40.84214782714844,"40.84214782714844,-73.88463592529298"
21,2014-01-01 00:16:14,-73.9070816040039,40.836612701416016,"40.836612701416016,-73.9070816040039"
22,2014-01-01 00:08:37,-73.90294647216798,40.74587631225585,"40.74587631225585,-73.90294647216798"
23,2014-01-01 00:07:44,-73.942626953125,40.8218879699707,"40.8218879699707,-73.942626953125"
24,2014-01-01 00:05:42,-74.00379943847656,40.65483474731445,"40.65483474731445,-74.00379943847656"
25,2014-01-01 00:07:29,-73.88490295410156,40.739173889160156,"40.739173889160156,-73.88490295410156"
26,2014-01-01 00:14:42,-73.94159698486328,40.70816040039063,"40.70816040039063,-73.94159698486328"
27,2014-01-01 00:05:36,-73.93653106689453,40.669700622558594,"40.669700622558594,-73.93653106689453"
28,2014-01-01 00:15:36,-73.98289489746094,40.77192687988281,"40.77192687988281,-73.98289489746094"
29,2014-01-01 00:28:57,-73.99605560302734,40.73101425170898,"40.73101425170898,-73.99605560302734"
...,...,...,...,...
803822,2014-02-01 00:04:46,-73.93846893310547,40.82762145996094,"40.82762145996094,-73.93846893310547"
803823,2014-02-01 00:06:55,-73.88549041748048,40.84670639038085,"40.84670639038085,-73.88549041748048"
803824,2014-02-01 00:24:29,-73.99298858642578,40.75647735595703,"40.75647735595703,-73.99298858642578"
803825,2014-02-01 00:17:20,-73.98692321777342,40.75789260864258,"40.75789260864258,-73.98692321777342"
803826,2014-02-01 00:13:14,-74.00065612792969,40.72328567504883,"40.72328567504883,-74.00065612792969"
803827,2014-02-01 00:21:41,-73.99188995361328,40.74481201171875,"40.74481201171875,-73.99188995361328"
803828,2014-02-01 00:06:45,-73.96165466308594,40.80596160888672,"40.80596160888672,-73.96165466308594"
803829,2014-02-01 00:09:26,-73.95069885253906,40.70836639404297,"40.70836639404297,-73.95069885253906"
803830,2014-02-01 00:03:06,-73.90729522705078,40.82366561889648,"40.82366561889648,-73.90729522705078"
803831,2014-02-01 00:24:37,-73.99241638183594,40.77412796020508,"40.77412796020508,-73.99241638183594"
803832,2014-02-01 00:13:19,-73.92374420166014,40.848541259765625,"40.848541259765625,-73.92374420166014"
803833,2014-02-01 00:01:41,-73.91270446777344,40.65454864501953,"40.65454864501953,-73.91270446777344"
803834,2014-02-01 00:04:41,-73.8609619140625,40.71916580200195,"40.71916580200195,-73.8609619140625"
803835,2014-02-01 00:11:57,-73.91472625732422,40.766029357910156,"40.766029357910156,-73.91472625732422"
803836,2014-02-01 00:04:13,-73.91758728027342,40.75825119018555,"40.75825119018555,-73.91758728027342"
803837,2014-02-01 00:04:19,-73.8267822265625,40.853111267089844,"40.853111267089844,-73.8267822265625"
803838,2014-02-01 00:28:32,-73.99227142333984,40.75989151000977,"40.75989151000977,-73.99227142333984"
803839,2014-02-01 00:36:05,-73.99736022949219,40.71893310546875,"40.71893310546875,-73.99736022949219"
803840,2014-02-01 00:03:38,-73.98847198486328,40.66653823852539,"40.66653823852539,-73.98847198486328"
803841,2014-02-01 00:22:18,-73.86181640625,40.69072341918945,"40.69072341918945,-73.86181640625"
803842,2014-02-01 00:08:49,-73.96247100830078,40.68169403076172,"40.68169403076172,-73.96247100830078"
803843,2014-02-01 00:05:06,-73.9397964477539,40.6927146911621,"40.6927146911621,-73.9397964477539"
803844,2014-02-01 00:28:47,-73.97882843017578,40.64572525024415,"40.64572525024415,-73.97882843017578"
803845,2014-02-01 00:05:17,-73.94651794433594,40.83050537109375,"40.83050537109375,-73.94651794433594"
803846,2014-02-01 00:10:00,-73.96923828125,40.69315719604492,"40.69315719604492,-73.96923828125"
803847,2014-02-01 00:03:26,-73.95223999023438,40.723331451416016,"40.723331451416016,-73.95223999023438"
803848,2014-02-01 00:06:59,-73.87631225585938,40.76841354370117,"40.76841354370117,-73.87631225585938"
803849,2014-02-01 00:03:49,-73.99173736572266,40.66295623779297,"40.66295623779297,-73.99173736572266"
803850,2014-02-01 00:24:27,-74.00752258300781,40.725669860839844,"40.725669860839844,-74.00752258300781"
803851,2014-02-01 00:01:53,-73.94210815429686,40.75413513183594,"40.75413513183594,-73.94210815429686"

In [11]:
from uszipcode import ZipcodeSearchEngine
search = ZipcodeSearchEngine()
zipcode = {}
output=[]
# green["Zipcode"] = "NaN"
# for n in range(len(green)):
#     res = search.by_coordinate(float(green["Lat"][n]), float(green["Lon"][n]), radius=30, returns=1)
#     if len(res)>0:
#         green["Zipcode"][n] = str(res[0]["Zipcode"])


for n in range(len(green_taxi_data)):
    res = search.by_coordinate(float(green_taxi_data["Lat"][n]), float(green_taxi_data["Lon"][n]), radius=30, returns=1)
    if len(res)>0:
        output.append(str(res[0]["Zipcode"]))        
    else:
        output.append("NaN")

KeyboardInterrupt:

In [57]:
print(len(output))

803852

In [59]:
green_taxi_data["Zipcode"] = output

/Users/whiplash/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [63]:
green_taxi_data[0:5]

,Date,Lon,Lat,Coord,Zipcode
0,2014-01-01 01:08:06,-73.86504364013672,40.87230682373047,"40.87230682373047,-73.86504364013672",10467
1,2014-01-01 06:03:57,-73.7763671875,40.64548873901367,"40.64548873901367,-73.7763671875",11430
2,2014-01-01 18:22:44,-73.93264770507811,40.85257339477539,"40.85257339477539,-73.93264770507811",10033
3,2014-01-01 00:52:03,-73.99407958984375,40.74909210205078,"40.74909210205078,-73.99407958984375",10119
4,2014-01-01 00:49:25,-73.93606567382812,40.73472595214844,"40.73472595214844,-73.93606567382812",11101

In [73]:
green_taxi_data.to_csv("finalApr.csv", encoding = 'utf-8')

In [74]:
green_taxi_data[0:5]

,Date,Lon,Lat,Coord,Zipcode
0,2014-01-01 01:08:06,-73.86504364013672,40.87230682373047,"40.87230682373047,-73.86504364013672",10467
1,2014-01-01 06:03:57,-73.7763671875,40.64548873901367,"40.64548873901367,-73.7763671875",11430
2,2014-01-01 18:22:44,-73.93264770507811,40.85257339477539,"40.85257339477539,-73.93264770507811",10033
3,2014-01-01 00:52:03,-73.99407958984375,40.74909210205078,"40.74909210205078,-73.99407958984375",10119
4,2014-01-01 00:49:25,-73.93606567382812,40.73472595214844,"40.73472595214844,-73.93606567382812",11101

In [77]:
nanlist = []
for n in range(len(green_taxi_data)):
    if green_taxi_data["Zipcode"][n] == "NaN":
        nanlist.append(n)

In [79]:
len(nanlist)

1659

In [83]:
len(green_taxi_data)

803852

In [85]:
green1 = green_taxi_data.drop(green.index[nanlist])

In [65]:
zipcode = pd.read_csv("/Users/whiplash/SJSU/Semester 2/Github/Predicting-High-Taxi-Demand-Regions/Data/Zip_CodeNYC.csv")

In [87]:
green1.to_csv("finalpreprocessed.csv", encoding = 'utf-8')

In [71]:
print(type(green_taxi_data["Zipcode"]))

<class 'pandas.core.series.Series'>

In [72]:
print(type(zipcode["JURISDICTION NAME"]))

<class 'pandas.core.series.Series'>

In [89]:
date=pd.to_datetime(green1['Date'])
green1['Month']=date.dt.month
green1['Day']=date.dt.day
green1['Hour']=date.dt.hour
temp=pd.DatetimeIndex(date)
green1['Weekday']=temp.weekday
# data_model=data_final[['Month', 'Weekday', 'Hour']]

In [90]:
green1

,Date,Lon,Lat,Coord,Zipcode,Month,Day,Hour,Weekday
0,2014-01-01 01:08:06,-73.86504364013672,40.87230682373047,"40.87230682373047,-73.86504364013672",10467,1,1,1,2
1,2014-01-01 06:03:57,-73.7763671875,40.64548873901367,"40.64548873901367,-73.7763671875",11430,1,1,6,2
2,2014-01-01 18:22:44,-73.93264770507811,40.85257339477539,"40.85257339477539,-73.93264770507811",10033,1,1,18,2
3,2014-01-01 00:52:03,-73.99407958984375,40.74909210205078,"40.74909210205078,-73.99407958984375",10119,1,1,0,2
4,2014-01-01 00:49:25,-73.93606567382812,40.73472595214844,"40.73472595214844,-73.93606567382812",11101,1,1,0,2
5,2014-01-01 00:01:15,-73.9121551513672,40.684059143066406,"40.684059143066406,-73.9121551513672",11233,1,1,0,2
6,2014-01-01 02:37:20,-73.93531799316406,40.73701095581055,"40.73701095581055,-73.93531799316406",11101,1,1,2,2
7,2014-01-01 15:24:02,-73.93746948242188,40.804195404052734,"40.804195404052734,-73.93746948242188",10037,1,1,15,2
9,2014-01-01 01:17:43,-73.91567993164062,40.77630615234375,"40.77630615234375,-73.91567993164062",11105,1,1,1,2
10,2014-01-01 19:07:40,-73.94893646240234,40.66542053222656,"40.66542053222656,-73.94893646240234",11225,1,1,19,2
11,2014-01-01 05:08:05,-74.01026916503906,40.64192199707031,"40.64192199707031,-74.01026916503906",11220,1,1,5,2
12,2014-01-01 13:04:11,-73.99115753173827,40.639381408691406,"40.639381408691406,-73.99115753173827",11219,1,1,13,2
13,2014-01-01 00:08:28,-73.8885498046875,40.745452880859375,"40.745452880859375,-73.8885498046875",11372,1,1,0,2
14,2014-01-01 00:10:30,-73.7994155883789,40.73357772827149,"40.73357772827149,-73.7994155883789",11366,1,1,0,2
15,2014-01-01 00:07:26,-73.81632995605469,40.71437454223633,"40.71437454223633,-73.81632995605469",11415,1,1,0,2
16,2014-01-01 00:18:35,-73.94696044921875,40.751373291015625,"40.751373291015625,-73.94696044921875",11101,1,1,0,2
17,2014-01-01 00:04:05,-73.94689178466798,40.81333541870117,"40.81333541870117,-73.94689178466798",10030,1,1,0,2
18,2014-01-01 00:08:32,-73.93402099609375,40.73625564575195,"40.73625564575195,-73.93402099609375",11101,1,1,0,2
19,2014-01-01 00:11:36,-73.96392822265625,40.76107025146485,"40.76107025146485,-73.96392822265625",10065,1,1,0,2
20,2014-01-01 00:06:03,-73.88463592529298,40.84214782714844,"40.84214782714844,-73.88463592529298",10460,1,1,0,2
21,2014-01-01 00:16:14,-73.9070816040039,40.836612701416016,"40.836612701416016,-73.9070816040039",10456,1,1,0,2
22,2014-01-01 00:08:37,-73.90294647216798,40.74587631225585,"40.74587631225585,-73.90294647216798",11377,1,1,0,2
23,2014-01-01 00:07:44,-73.942626953125,40.8218879699707,"40.8218879699707,-73.942626953125",10030,1,1,0,2
24,2014-01-01 00:05:42,-74.00379943847656,40.65483474731445,"40.65483474731445,-74.00379943847656",11232,1,1,0,2
25,2014-01-01 00:07:29,-73.88490295410156,40.739173889160156,"40.739173889160156,-73.88490295410156",11373,1,1,0,2
26,2014-01-01 00:14:42,-73.94159698486328,40.70816040039063,"40.70816040039063,-73.94159698486328",11206,1,1,0,2
27,2014-01-01 00:05:36,-73.93653106689453,40.669700622558594,"40.669700622558594,-73.93653106689453",11213,1,1,0,2
28,2014-01-01 00:15:36,-73.98289489746094,40.77192687988281,"40.77192687988281,-73.98289489746094",10023,1,1,0,2
29,2014-01-01 00:28:57,-73.99605560302734,40.73101425170898,"40.73101425170898,-73.99605560302734",10012,1,1,0,2
30,2014-01-01 00:12:13,-73.99508666992188,40.66054153442383,"40.66054153442383,-73.99508666992188",11232,1,1,0,2
...,...,...,...,...,...,...,...,...,...
803822,2014-02-01 00:04:46,-73.93846893310547,40.82762145996094,"40.82762145996094,-73.93846893310547",10039,2,1,0,5
803823,2014-02-01 00:06:55,-73.88549041748048,40.84670639038085,"40.84670639038085,-73.88549041748048",10460,2,1,0,5
803824,2014-02-01 00:24:29,-73.99298858642578,40.75647735595703,"40.75647735595703,-73.99298858642578",10018,2,1,0,5
803825,2014-02-01 00:17:20,-73.98692321777342,40.75789260864258,"40.75789260864258,-73.98692321777342",10020,2,1,0,5
803826,2014-02-01 00:13:14,-74.00065612792969,40.72328567504883,"40.72328567504883,-74.00065612792969",10012,2,1,0,5
803827,2014-02-01 00:21:41,-73.99188995361328,40.74481201171875,"40.74481201171875,-73.99188995361328",10119,2,1,0,5
803828,2014-02-01 00:06:45,-73.96165466308594,40.80596160888672,"40.80596160888672,-73.96165466308594",10115,2,1,0,5
803829,2014-02-01 00:09:26,-73.95069885253906,40.70836639404297,"40.70836639404297,-73.95069885253906",11211,2,1,0,5
803830,2014-02-01 00:03:06,-73.90729522705078,40.82366561889648,"40.82366561889648,-73.90729522705078",10456,2,1,0,5
803831,2014-02-01 00:24:37,-73.99241638183594,40.77412796020508,"40.77412796020508,-73.99241638183594",10069,2,1,0,5
803832,2014-02-01 00:13:19,-73.92374420166014,40.848541259765625,"40.848541259765625,-73.92374420166014",10453,2,1,0,5
803833,2014-02-01 00:01:41,-73.91270446777344,40.65454864501953,"40.65454864501953,-73.91270446777344",11212,2,1,0,5
803834,2014-02-01 00:04:41,-73.8609619140625,40.71916580200195,"40.71916580200195,-73.8609619140625",11374,2,1,0,5
803835,2014-02-01 00:11:57,-73.91472625732422,40.766029357910156,"40.766029357910156,-73.91472625732422",11103,2,1,0,5
803836,2014-02-01 00:04:13,-73.91758728027342,40.75825119018555,"40.75825119018555,-73.91758728027342",11103,2,1,0,5
803837,2014-02-01 00:04:19,-73.8267822265625,40.853111267089844,"40.853111267089844,-73.8267822265625",10461,2,1,0,5
803838,2014-02-01 00:28:32,-73.99227142333984,40.75989151000977,"40.75989151000977,-73.99227142333984",10036,2,1,0,5
803839,2014-02-01 00:36:05,-73.99736022949219,40.71893310546875,"40.71893310546875,-73.99736022949219",10012,2,1,0,5
803840,2014-02-01 00:03:38,-73.98847198486328,40.66653823852539,"40.66653823852539,-73.98847198486328",11215,2,1,0,5
803841,2014-02-01 00:22:18,-73.86181640625,40.69072341918945,"40.69072341918945,-73.86181640625",11421,2,1,0,5
803842,2014-02-01 00:08:49,-73.96247100830078,40.68169403076172,"40.68169403076172,-73.96247100830078",11238,2,1,0,5
803843,2014-02-01 00:05:06,-73.9397964477539,40.6927146911621,"40.6927146911621,-73.9397964477539",11221,2,1,0,5
803844,2014-02-01 00:28:47,-73.97882843017578,40.64572525024415,"40.64572525024415,-73.97882843017578",11218,2,1,0,5
803845,2014-02-01 00:05:17,-73.94651794433594,40.83050537109375,"40.83050537109375,-73.94651794433594",10031,2,1,0,5
803846,2014-02-01 00:10:00,-73.96923828125,40.69315719604492,"40.69315719604492,-73.96923828125",11205,2,1,0,5
803847,2014-02-01 00:03:26,-73.95223999023438,40.723331451416016,"40.723331451416016,-73.95223999023438",11222,2,1,0,5
803848,2014-02-01 00:06:59,-73.87631225585938,40.76841354370117,"40.76841354370117,-73.87631225585938",11369,2,1,0,5
803849,2014-02-01 00:03:49,-73.99173736572266,40.66295623779297,"40.66295623779297,-73.99173736572266",11215,2,1,0,5
803850,2014-02-01 00:24:27,-74.00752258300781,40.725669860839844,"40.725669860839844,-74.00752258300781",10013,2,1,0,5
803851,2014-02-01 00:01:53,-73.94210815429686,40.75413513183594,"40.75413513183594,-73.94210815429686",11101,2,1,0,5

In [92]:
group=green1.groupby(['Month', 'Day', 'Hour', 'Zipcode']).size().reset_index(name='count')

In [93]:
group

       Month  Day  Hour Zipcode  count
0          1    1     0   07030      1
1          1    1     0   07605      1
2          1    1     0   10001      4
3          1    1     0   10002     13
4          1    1     0   10003      7
5          1    1     0   10004      2
6          1    1     0   10005      8
7          1    1     0   10006      1
8          1    1     0   10007      2
9          1    1     0   10009     18
10         1    1     0   10010     14
11         1    1     0   10011      4
12         1    1     0   10012     32
13         1    1     0   10013      5
14         1    1     0   10014     14
15         1    1     0   10016     11
16         1    1     0   10017      2
17         1    1     0   10019     11
18         1    1     0   10020      1
19         1    1     0   10021      5
20         1    1     0   10022     12
21         1    1     0   10023      6
22         1    1     0   10024     19
23         1    1     0   10025     21
24         1    1     0   10026     41
25         1    1     0   10027     17
26         1    1     0   10028      6
27         1    1     0   10029     30
28         1    1     0   10030     43
29         1    1     0   10031     36
...      ...  ...   ...     ...    ...
98998      2    1     0   11415      4
98999      2    1     0   11419      2
99000      2    1     0   11420      1
99001      2    1     0   11421      3
99002      2    1     0   11422      2
99003      2    1     0   11423      1
99004      2    1     0   11429      1
99005      2    1     0   11434      1
99006      2    1     0   11435      1
99007      2    1     0   11580      1
99008      2    1     1   10009      1
99009      2    1     1   10037      1
99010      2    1     1   11354      1
99011      2    1     3   11103      1
99012      2    1     3   11370      1
99013      2    1     9   10003      1
99014      2    1    11   10453      1
99015      2    1    14   10028      1
99016      2    1    14   11226      1
99017      2    1    14   11413      1
99018      2    1    15   10128      1
99019      2    1    15   10455      1
99020      2    1    16   11217      1
99021      2    1    16   11367      1
99022      2    1    17   10119      1
99023      2    1    18   11231      1
99024      2    1    20   11205      1
99025      2    1    21   10040      1
99026      2    1    22   10069      1
99027      2    1    23   10456      1

[99028 rows x 5 columns]

In [91]:
green1.to_csv('nycmodeldataApr.csv',encoding='utf-8')